# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Environment files
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db

# Log files
*.log

# Secret files
.env
token.json
credentials.json
email_cache.json
